* {
  box-sizing: border-box;
}
body{
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center;
  height: 100vh; */
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.game-board{
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  padding: 40px;
}